body {
  background-color: #121212;
  color: #cccccc;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 133%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 720px;
  overflow-x: hidden;
  padding-bottom: 4em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 4em;
  text-align: left;
}

a.back {
  font-size: 0.8em;
}

a:link {
  background-color: transparent;
  color: #93b4dd;
  text-decoration: none;
}

a:visited {
  background-color: transparent;
  color: #93b4dd;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  color: #b6d3f5;
  text-decoration: underline;
}

a:active {
  background-color: transparent;
  color: #b6d3f5;
  text-decoration: underline;
}

code {
  color: #aaaaaa;
  font-family: Consolas, monaco, monospace;
  font-size: 0.9em;
}

h1 {
  color: #cccccc;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 100%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-bottom: 0.5em;
  padding-left: auto;
  padding-right: auto;
  padding-top: 0;
  text-align: center;
}

h2 {
  color: #cccccc;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 100%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-bottom: 0em;
  padding-left: auto;
  padding-right: auto;
  padding-top: 0em;
}

h3 {
  color: #cccccc;
  font-size: 2em;
  font-weight: normal;
  line-height: 100%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-bottom: 0em;
  padding-left: auto;
  padding-right: auto;
  padding-top: 0em;
}

hr {
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0.5px dashed #444444;
  margin-bottom: 1.33em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.33em;
  padding-bottom: 0;
  padding-left: auto;
  padding-right: auto;
  padding-top: 0;
}

hr.double {
  border-bottom: 0.5px dashed #444444;
  border-left: 0px;
  border-right: 0px;
  border-top: 0.5px dashed #444444;
  height: 2px;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding-bottom: 0;
  padding-left: auto;
  padding-right: auto;
  padding-top: 0;
}

img {
  max-height: 100%;
  max-width: 100%;
}

p.license {
  color: #aaaaaa;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: auto;
  padding-right: auto;
  padding-top: 0;
}

p.subsubtitle {
  color: #aaaaaa;
  font-size: 0.8em;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: auto;
  padding-right: auto;
  padding-top: 0;
  text-align: right;
}

p.subtitle {
  color: #cccccc;
  font-size: 1.15em;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: auto;
  padding-right: auto;
  padding-top: 0;
  text-align: center;
}

ul {
  list-style-type: square;
}

ul ul {
  list-style-type: disc;
}
